#summarySplitter {
    height: auto;
    width: auto;
}
#summarySplitter div {
    overflow: auto;
}
#summarySplitter div.summary {
    width: 50%;
}
.vsplitbar {
    width: 5px;
    background: #aaa;
}